* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

@media only screen and (min-device-width: 480px) {
  article-title {
    font-size: "1.75rem";
    padding: "0.5rem 0";
    max-height: "100%";
    max-width: "100%";
  }
}

@media screen and (min-width: 1000px) {
  .navHover:hover {
    color: #1383cf;
  }
}

.navBarSpace {
  margin: 5px;
}

h1:hover {
  color: #1383cf;
}
